html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}
header {
/*    position: sticky;*/
/*    top: 0;*/
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
header h1 {
    margin: 0;
    margin-bottom: 0.5rem;
/*    width: 50%;*/
}
header h2 {
    margin: 0;
    display: inline-block;
    font-size: 1.5rem;
}
header nav {
    float: right;
    padding-top: 3rem;
    font-size: 1.1rem;
}
header nav ul{
    display: inline-block;
    margin: 0;
    padding-left: 0;
}
header nav ul li {
    display: inline-block;
    margin-left: 1rem;
    margin-right: 1rem;
}
main {
    min-height: 55%;
}
footer {
    margin-top: 4rem;
}
footer hr {
    width: 60%;
    margin-top: 4rem;
    margin-bottom: 2rem;
}
footer #get-in-touch {
    width: 100%;
    padding-bottom: 4rem;
    padding-top: 2rem;
}
footer #get-in-touch > div {
    width: 60%;
    margin: auto;
}
footer #website-info {
    width: 60%;
    margin: auto;
    padding-top: 2rem;
    padding-bottom: 3rem;
    font-size: 0.8rem;
}
footer #website-info #qualifications img {
    min-width: 240px;
}
#profile {
    width: 50%;
    margin: auto;
    padding-top: 4rem;
    font-size: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
}
.circle-image-container {
    display: inline-block;
    vertical-align: middle;
    aspect-ratio: 1;
    overflow: hidden;
    width: 33%;
    min-width: 320px;
    float: right;
    margin-left: 3rem;
}
.circle-image-container img {
    vertical-align: middle;
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    overflow: hidden;
}
button, a.button {
    padding: 12px 24px 12px 24px;
    cursor: pointer;
    font-size: 1rem;
}

main > section {
    width: 50%;
    margin: auto;
    padding-top: 4rem;
    padding-left: 3rem;
    padding-right: 3rem;
    font-size: 1.2rem;
    line-height: 1.5rem;
}
main > section#profile {
    font-size: 2rem;
    line-height: normal;
}


#contact-methods,
#availability {
    width: 50%;
    margin: auto;
    padding-top: 4rem;
    padding-left: 3rem;
    padding-right: 3rem;
    line-height: 1.5rem;
}

#availability table {
    width: 60%;
    min-width: 420px;
    margin: auto;
    border-collapse: collapse; 
    margin-top: 4rem;
    margin-bottom: 4rem;
}

table th {
    text-align: center;
}

#contact-methods ul li {
    margin-bottom: 1rem;
}


#contact-methods ul li img {
    vertical-align: top;
    user-select: none;
    margin-right: 0.5rem;
}

#specialisations ul {
/*    padding: 0;*/
/*    width: 90%;*/
    margin-left: auto;
    margin-right: auto;
}
#specialisations ul li {
    display: inline-block;
    width: 30%;
}

/* Smaller than 900px wide */
@media only screen and (max-width: 900px) {

    header {
        padding-left: 6%;
        padding-right: 6%;
    }

    header nav {
        float: none;
        margin-bottom: 2rem;
        font-size: 2rem;
        text-align: center;
    }

    header nav a {
        font-size: 1.5rem;
    }

    main section  {
        padding-left: 6%; 
        padding-right: 6%;
        width: 80%;
    }

    .circle-image-container {
        display: block;
        float: none;
        margin: auto;
    }

    #profile,
    #contact-methods,
    #availability {
        padding-left: 6%;
        padding-right: 6%;
        width: 80%;
    }

/*  TODO:

  - [ ] Get in touch needs re-aligning
  - [ ] the availability table needs fixing or changing
  - [X] the experience list needs fixing or changing
  - [X] all pages need a bit of spacing from the margins
  - [X] BACP logo is shrinking


  */

}


/* Smaller than 600px wide */
@media only screen and (max-width: 600px) {

    header {
/*        padding-left: 0;*/
/*        padding-right: 0;*/
    }

    header nav ul li:first-child {
        margin-left: 0;
    }
    header nav ul li:last-child {
        margin-right: 0;
    }

    #specialisations ul li {
        display: inline-block;
        width: 45%;
    }

    #contact-methods,
    #availability {
        width: 80%;
        padding-top: 1rem;
        padding-left: 0rem;
        padding-right: 0rem;
    }

    #availability table {
        margin-bottom: 0;
        width: 90%;
        min-width: 0;
    }

}

/* Smaller than 500px wide */
@media only screen and (max-width: 500px) {

    header nav {
        padding-top: 0.5rem;
    }

    header nav ul li {
        display: block;
        margin-left: 0;
        margin-right: 0;
    }

    a.button.action {
        display: block;
        text-align: center;
        font-size: 1.4rem;
    }

    footer #get-in-touch {
        padding-bottom: 1rem;
    }
    footer #get-in-touch > div {
        width: 80%;
    }
    footer #website-info {
        width: 80%;
        padding-bottom: 1rem;
    }

    #specialisations ul li {
        display: inline-block;
        width: 90%;
    }

    #contact-methods ul {
        padding-left: 0;
        font-size: 1rem;
    }

    #contact-methods ul li img {
        height: 24px;
    }

}

/* Smaller than 350px wide */
@media only screen and (max-width: 350px) {

    #contact-methods ul li img {
        height: 32px;
        display: block;
        margin: auto;
    }

    #contact-methods ul li a {
        text-align: center;
        display: block;
        margin: auto;
    }

}